<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "BrowserFileManager" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <!-- アドレスバー非表示 --->
    <!-- iOS用 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Android用 -->
    <meta name="mobile-web-app-capable" content="yes">
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>

  <!-- jqueryとjs読み込み
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="/assets/my_script.js" ></script>
  -->
</html>

