<.header>
  Edit File <%= @file.id %>
  <:subtitle>Use this form to manage file records in your database.</:subtitle>
</.header>

<.file_form changeset={@changeset} action={~p"/files/#{@file}"} />

<.back navigate={~p"/files"}>Back to files</.back>
