<.header>
  File <%= @file.id %>
  <:subtitle>This is a file record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/files/#{@file}/edit"}>
      <.button>Edit file</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @file.name %></:item>
  <:item title="Star"><%= @file.star %></:item>
</.list>

<.back navigate={~p"/files"}>Back to files</.back>
