<.header>
  New Property
  <:subtitle>Use this form to manage property records in your database.</:subtitle>
</.header>

<.property_form changeset={@changeset} action={~p"/properties"} />

<.back navigate={~p"/properties"}>Back to properties</.back>
