<div class="h-screen w-screen flex">
  <div class="m-auto">
    <div class="w-full text-center mb-5 font-bold text-3xl">let's manage↓</div>
    <.link href={~p"/live"} class="mx-3">
      <.button class="h-[100px] font-bold text-3xl">BrowserFileManager</.button>
    </.link>
  </div>
</div>